@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: Montserrat, sans-serif;
  //--
  font-family: 'Roboto';
}

// Для заголовка
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
// Для кнопок
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
