:root {
  //--
  --white-general: #ffffff; //Text
  --black-main: #000000; // Text
  --color-red-accent: #b92f2c; //Text category, years,pagination
  --color-grey-about: #545454; // Footer text - about us
  --color-footer-bg: #f7f7f7; //Footer background
  --color-hover-btn-library: #db1f1b; // btn library
  --color-theme: #202024;
  //--
}
