<section class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title hidden">gallery</h2>

    <div class="gallery-block">
      <picture class="gallery-picture photo-first">
        <!-- 1200 -->
        <source srcset="
                ./images/gallery/gallery-1-desktop-1x.jpg 1x,
                ./images/gallery/gallery-1-desktop-2x.jpg 2x
              " media="(min-width: 1200px)" type="image/jpeg" />
        <source srcset="
                ./images/gallery/webp/gallery-1-desktop-1x.webp 1x,
                ./images/gallery/webp/gallery-1-desktop-2x.webp 2x
              " media="(min-width: 1200px)" type="image/webp" />
        <!-- 768 -->
        <source srcset="
               ./images/gallery/gallery-1-tablet-1x.jpg 1x,
                ./images/gallery/gallery-1-tablet-2x.jpg 2x
              " media="(min-width: 768px)" type="image/jpeg" />
        <source srcset="
                ./images/gallery/webp/gallery-1-tablet-1x.webp 1x,
                ./images/gallery/webp/gallery-1-tablet-2x.webp 2x
              " media="(min-width: 768px)" type="image/webp" />
        <!-- 480 -->
        <source srcset="
                ./images/gallery/gallery-1-mobile-1x.jpg 1x,
                ./images/gallery/gallery-1-mobile-2x.jpg 2x
              " media="(max-width: 767px)" type="image/jpeg" />
        <source srcset="
                ./images/gallery/webp/gallery-1-mobile-1x.webp 1x,
                ./images/gallery/webp/gallery-1-mobile-2x.webp 2x
              " media="(max-width: 767px)" type="image/webp" />

        <img src="./images/gallery/gallery-1-mobile-1x.jpg" alt="ice cream" />
      </picture>

      <picture class="gallery-picture photo-second">
        <!-- 1200 -->
        <source srcset="
                      ./images/gallery/gallery-2-desktop-1x.jpg 1x,
                      ./images/gallery/gallery-2-desktop-2x.jpg 2x
                    " media="(min-width: 1200px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-2-desktop-1x.webp 1x,
                      ./images/gallery/webp/gallery-2-desktop-2x.webp 2x
                    " media="(min-width: 1200px)" type="image/webp" />
        <!-- 768 -->
        <source srcset="
                      ./images/gallery/gallery-2-tablet-1x.jpg 1x,
                      ./images/gallery/gallery-2-tablet-2x.jpg 2x
                    " media="(min-width: 768px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-2-tablet-1x.webp 1x,
                      ./images/gallery/webp/gallery-2-tablet-2x.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
        <!-- 480 -->
        <source srcset="
                      ./images/gallery/gallery-2-mobile-1x.jpg 1x,
                      ./images/gallery/gallery-2-mobile-2x.jpg 2x
                    " media="(max-width: 767px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-2-mobile-1x.webp 1x,
                      ./images/gallery/webp/gallery-2-mobile-2x.webp 2x
                    " media="(max-width: 767px)" type="image/webp" />

        <img src="./images/gallery/gallery-1-mobile-1x.jpg" alt="ice cream" />
      </picture>

      <picture class="gallery-picture photo-third">
        <!-- 1200 -->
        <source srcset="
                      ./images/gallery/gallery-3-desktop-1x.jpg 1x,
                      ./images/gallery/gallery-3-desktop-2x.jpg 2x
                    " media="(min-width: 1200px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-3-desktop-1x.webp 1x,
                      ./images/gallery/webp/gallery-3-desktop-2x.webp 2x
                    " media="(min-width: 1200px)" type="image/webp" />
        <!-- 768 -->
        <source srcset="
                      ./images/gallery/gallery-3-tablet-1x.jpg 1x,
                      ./images/gallery/gallery-3-tablet-2x.jpg 2x
                    " media="(min-width: 768px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-3-tablet-1x.webp 1x,
                      ./images/gallery/webp/gallery-3-tablet-2x.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
        <!-- 480 -->
        <source srcset="
                      ./images/gallery/gallery-3-mobile-1x.jpg 1x,
                      ./images/gallery/gallery-3-mobile-2x.jpg 2x
                    " media="(max-width: 767px)" type="image/jpeg" />
        <source srcset="
                      ./images/gallery/webp/gallery-3-mobile-1x.webp 1x,
                      ./images/gallery/webp/gallery-3-mobile-2x.webp 2x
                    " media="(max-width: 767px)" type="image/webp" />
        <img src="./images/gallery/gallery-3-mobile-1x.jpg" alt="ice cream" />
      </picture>

    </div>
  </div>
</section>