<header class="header">
  <div class="container">
    <div class="header-wrap">
      <div class="header-nav">
        <ul class="header-list">
          <li><a class="btn-home btn-black" href="./index.html">Home</a></li>
          <li>
            <a class="btn-mylibrary btn-white" href="./my-library.html"
              >My Library</a
            >
          </li>
        </ul>
      </div>

      <!-- theme -->
      <div class="btn-toggle">
        <div class="toggle">
          <input
            type="checkbox"
            name="checkbox"
            id="toggle"
            class="theme-switch"
          />
          <label for="toggle"></label>
        </div>
      </div>

      <div class="header-logo-wrap">
        <a class="header-logo library-logo link" href="./index.html">
          <svg class="header__logo-icon">
            <use href="./images/icon.svg#icon-filmoteka-icon-mob"></use>
          </svg>
          <p class="text-logo">Filmoteka</p>
        </a>
        <div class="btn-wrap">
          <button class="btn-home btn-watched" type="button">Watched</button>
          <button class="btn-mylibrary btn-queue" type="button">Queue</button>
        </div>
      </div>
    </div>
  </div>
</header>
