<div class="backdrop hidden">
  <div class="movie-card">
    <div class="img_wrapper">
      <div class="box-overlay">
        <img class="player" src="./images/youtube.png" alt="logo" width="50" />
      </div>
      <img class="movie-card__img" src="./images/default.png" alt="picture" />
    </div>

    <div class="movie-card__info">
      <h1 class="movie-card__info__title">A FISTFUL OF LEAD</h1>
      <div class="movie-card__info__details">
        <div class="movie-card__info__details-block">
          <ul class="list movie-card__info__details-headers">
            <li class="movie-card__info__details-header">
              <p>Vote / Votes</p>
            </li>
            <li class="movie-card__info__details-header">
              <p>Popularity</p>
            </li>
            <li class="movie-card__info__details-header">
              <p>Original Title</p>
            </li>
            <li class="movie-card__info__details-header">
              <p>Genre</p>
            </li>
          </ul>
        </div>
        <div>
          <ul class="list npm start">
            <li class="movie-card__info__details-text">
              <span class="movie-card__info__details-span info-details__vote"
                >7.3</span
              >
              /
              <span class="movie-card__info__details-span info-details__votes"
                >1260</span
              >
            </li>
            <li class="movie-card__info__details-text">
              <p>100.2</p>
            </li>
            <li
              class="movie-card__info__details-text movie-card__info__details-original-title original-title"
            >
              <p>A FISTFUL OF LEAD</p>
            </li>
            <li class="movie-card__info__details-text genres">
              <p>Western</p>
            </li>
          </ul>
        </div>
      </div>
      <h2 class="movie-card__info__small-title">ABOUT</h2>
      <p class="movie-card__info__small-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="movie-card__buttons">
        <button
          class="movie-card__button movie-card__button-watched"
          type="button"
        >
          ADD TO WATCHED
        </button>
        <button
          class="movie-card__button movie-card__button-queue"
          type="button"
        >
          ADD TO QUEUE
        </button>
      </div>
    </div>
    <button class="movie-card__close-btn">
      <svg class="movie-card__close-svg" width="30" height="30">
        <use href="./images/close.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
<!-- <div class="blue" data-film="157336"></div> -->
