<div class="backdrop-footer is-hidden">

  <div class="modal">

    <button class="modal__button" type="button">
      <svg class="icon-close" width="23" height="23">
        <use href="./images/icon.svg#icon-cross"></use>
      </svg>
    </button>

    <section class="section members">
      <div class="container">
        <h2 class="section__title members__title">Alfa Team</h2>
        <ul class="members__list">
          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="./images/team/vitali-desktop.jpg 1x, ./images/team/vitali-desktop-2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="./images/team/vitali-tablet.jpg 1x, ./images/team/vitali-tablet-2x.jpg 2x" media="(min-width:768px)">
                <source srcset="./images/team/vitali-mobile.jpg 1x, ./images/team/vitali-mobile-2x.jpg 2x" media="(max-width: 767px)"> -->
                <img src="./images/team/vitali-mobile.jpg" alt="Зображення одного з членів команди, а саме Віталія, нашего team lead" width="270" class="border-wrap"/>
              </picture>

              <div class="cardsmember">
                <h3 class="cardsmember__name">Віталій</h3>
                <p class="cardsmember__description">Alfa Team Lead</p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/Julia-desktop.jpg 1x,
                    ./images/team/Julia-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/Julia-tablet.jpg 1x,
                    ./images/team/Julia-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/Julia-mobile.jpg 1x,
                    ./images/team/Julia-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/Julia-mobile.jpg"
                  alt="Зображення одного з членів команди, а саме Юлії, нашего Scrum Master" width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Юлія</h3>
                <p class="cardsmember__description">The Best Scrum Master</p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/dmitro-desktop.jpg 1x,
                    ./images/team/dmitro-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/dmitro-tablet.jpg 1x,
                    ./images/team/dmitro-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/dmitro-mobile.jpg 1x,
                    ./images/team/dmitro-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/dmitro-mobile.jpg" alt="Зображення одного з членів команди, а саме Дмитра"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Дмитро</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/ilja-desktop.jpg 1x,
                    ./images/team/ilja-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/ilja-tablet.jpg 1x,
                    ./images/team/ilja-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/ilja-mobile.jpg 1x,
                    ./images/team/ilja-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/ilja-mobile.jpg" alt="Зображення одного з членів команди, а саме Іллі"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Ілля</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/karina-desktop.jpg 1x,
                    ./images/team/karina-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/karina-tablet.jpg 1x,
                    ./images/team/karina-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/karina-mobile.jpg 1x,
                    ./images/team/karina-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/karina-mobile.jpg" alt="Зображення одного з членів команди, а саме Каріни"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Каріна</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/max-desktop.jpg 1x,
                    ./images/team/max-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/max-tablet.jpg 1x,
                    ./images/team/max-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/max-mobile.jpg 1x,
                    ./images/team/max-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/max-mobile.jpg" alt="Зображення одного з членів команди, а саме Максима"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Максим</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/narine-desktop.jpg 1x,
                    ./images/team/narine-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/narine-tablet.jpg 1x,
                    ./images/team/narine-tablet-2x.jpg 2x 
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/narine-mobile.jpg 1x,
                    ./images/team/narine-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/narine-mobile.jpg" alt="Зображення одного з членів команди, а саме Наріне"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Наріне</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/olena-desktop.jpg 1x,
                    ./images/team/olena-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/olena-tablet.jpg 1x,
                    ./images/team/olena-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/olena-mobile.jpg 1x,
                    ./images/team/olena-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/olena-mobile.jpg" alt="Зображення одного з членів команди, а саме Олени"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Олена</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/olga-desktop.jpg 1x,
                    ./images/team/olga-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/olga-tablet.jpg 1x,
                    ./images/team/olga-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/olga-mobile.jpg 1x,
                    ./images/team/olga-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/olga-mobile.jpg" alt="Зображення одного з членів команди, а саме Ольги"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Ольга</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/volodymyr-desktop.jpg 1x,
                    ./images/team/volodymyr-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/volodymyr-tablet.jpg 1x,
                    ./images/team/volodymyr-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/volodymyr-mobile.jpg 1x,
                    ./images/team/volodymyr-mobile.2x.jpg 2x
                  " /> -->
                <img src="./images/team/volodymyr-mobile.jpg"
                  alt="Зображення одного з членів команди, а саме Володимира" width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Володимир</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/yan-desktop.jpg 1x,
                    ./images/team/yan-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/yan-tablet.jpg 1x,
                    ./images/team/yan-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/yan-mobile.jpg 1x,
                    ./images/team/yan-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/yan-mobile.jpg" alt="Зображення одного з членів команди, а саме Яна"
                  width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Ян</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="members__item">
            <div class="members__cards">
              <picture class="img-wrap">
                <!-- <source srcset="
                    ./images/team/vladyslava-desktop.jpg 1x,
                    ./images/team/vladyslava-desktop-2x.jpg 2x
                  " media="(min-width:1200px)" />
                <source srcset="
                    ./images/team/vladyslava-tablet.jpg 1x,
                    ./images/team/vladyslava-tablet-2x.jpg 2x
                  " media="(min-width:768px)" />
                <source srcset="
                    ./images/team/vladyslava-mobile.jpg 1x,
                    ./images/team/vladyslava-mobile-2x.jpg 2x
                  " /> -->
                <img src="./images/team/vladyslava-mobile.jpg"
                  alt="Зображення одного з членів команди, а саме Владислави" width="270" class="border-wrap"/>
              </picture>
              <div class="cardsmember">
                <h3 class="cardsmember__name">Владислава</h3>
                <p class="cardsmember__description">
                  The best member of the best team
                </p>

                <ul class="social-links">
                  <li>
                    <a href="#" class="icons"><svg class="icon-instagram" width="20" height="20">
                        <use href="./images/icon.svg#icon-instagram"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-facebook" width="20" height="20">
                        <use href="./images/icon.svg#icon-facebook"></use>
                      </svg></a>
                  </li>
                  <li>
                    <a href="#" class="icons"><svg class="icon-github" width="20" height="20">
                        <use href="./images/icon.svg#icon-github"></use>
                      </svg></a>
                  </li>
                </ul>
              </div>
    </section>
  </div>