.footer {
  z-index: 10;
  position: relative;
  left: 0px;
  bottom: 0px;

  width: 100%;
  background: var(--color-footer-bg);

  @include tablet {
    position: fixed;
  }

  @include desktop {
  }
}
.footer-container {
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer-text {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  color: var(--color-grey-about);
}

.heart-left {
  margin-left: 10px;
}

.students-span,
.students-link {
  margin-left: 10px;
  line-height: calc(16 / 14);
  align-items: center;
  color: var(--color-grey-about);
  
  
}


.students-span.hover-item {
  text-decoration: underline;
  border: none;
  background: none;
}

.students-span:hover {
  color: var(--color-red-accent);
}

.students-link {
  text-decoration: underline;
}

.span-text {
  @media screen and (max-width: 768px) {
    display: inline-block;
    margin-top: 12px;
  }
}

.red-heart {
  animation: pulse-red 2s infinite;
  transform-origin: center;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.95);
  }
}
