.popular-films,
.favorite-film {
  background-color: var(--white-general);
}
.popular-films {
  padding-bottom: 80px;
  @include tablet {
    padding-bottom: 137px;
    gap: 60px;
  }
}

.film-list,
.favorite-film-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 16px;
  }
}

.movie-item {
  width: 100%;
  height: 100%;
  scale: 1;
  transition: scale 350ms;
  border-radius: 5px;
  // box-shadow: 4px 4px 17px -3px rgba(0, 0, 0, 0.6);
  //    -webkit-box-shadow: 4px 4px 17px -3px rgba(0, 0, 0, 0.6);
  //    -moz-box-shadow: 4px 4px 17px -3px rgba(0, 0, 0, 0.6);
  @include tablet {
    flex-basis: calc((100% - 32px) / 2);
    width: 336px;
    height: 520px;
  }

  @include desktop {
    flex-basis: calc((100% - 32px) / 3);
    margin-bottom: 16px;
    width: 395px;
    height: 694px;
  }
}

.movie-item:hover {
  scale: 1.04;
  transition: scale 350ms;
  box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.7);
}

.dark-theme .movie-item:hover {
   scale: 1.04;
   transition: scale 350ms;
   box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.7);
   -webkit-box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.7);
   -moz-box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.7);
 }
 

.movie-item__img {
  width: 100%;
  // width: 280px;
  // height: 402px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;

  @include tablet {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
  }

  @include desktop {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }
}

.movie-item__title,
.movie-item__text {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
  padding-left: 10px;
  padding-bottom: 5px;
  vertical-align: middle;

  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-item__title {
  text-transform: uppercase;
}

.movie-item__text {
  color: #b92f2c;
}
