.box-overlay{
  width: 100%;
  height: 100%;
position: absolute;
 top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fceded4f;
}
.player{
  position: absolute;
  top: 40%;
    left: 40%;
}
.img_wrapper{
  position: relative;
  overflow: hidden ;
}

.img_wrapper:hover .box-overlay {
top: 50%;
transform: translate(-50%, -50%);
}


.hidden{
 display: none;
}

.scroll{
  overflow: hidden;
}


:root {
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop{
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
top: 0;
z-index: 10;
overflow: hidden;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.movie-card {
  position: absolute;
overflow-y: auto;
  left: 50%;
  top: 10%;
  padding: 48px 20px;
  transform: translate(-50%, 0);
max-height: 85%;
  width: 280px;
  background-color: #fff;

}

@media (min-width: 768px) {
  .movie-card {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 72px 64px 36px;
    width: 704px;
overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .movie-card {
    padding: 40px 12px;
    width: 806px;
    overflow: hidden;
  }
}
.img_wrapper {

   @media (max-width: 480px){
    margin-bottom: 20px;
   }
  @media (min-width: 768px){
    margin-right: 68px;
  }
    @media (min-width: 1280px){
     margin-right: 16px;   
    }
  }

.movie-card__img {
  width: 240px;
  border-radius: 5px;
@media (min-width: 768px){
  width: 264px;
}
@media (min-width: 1280px){
  width: 375px;
}
}


.movie-card__info__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media (min-width: 1280px) {
  .movie-card__info__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.movie-card__info__details {
  display: flex;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
}

.movie-card__info__details-headers {
  margin-right: 41px;
  font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

@media (min-width: 1280px) {
  .movie-card__info__details-headers {
    margin-right: 85px;

  }
}

.movie-card__info__details-header:not(:last-of-type),
.movie-card__info__details-text:not(:last-of-type) {
  margin-bottom: 8px;
}

.movie-card__info__details-headers {
  color: #8c8c8c;
}

.movie-card__info__details-span {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  border-radius: 5px;
}

.info-details__vote {
  background: #b92f2c;
  color: #fff;
}

.info-details__votes {
  background: #f7f7f7;
}

.movie-card__info__details-original-title {
  text-transform: uppercase;
}

.movie-card__info__small-title {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
}

.movie-card__info__small-text {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.66;
      width: 250px;
  @media (min-width: 768px) {
    width: 300px;
  }
}

.movie-card__buttons {
  display: flex;
  gap: 8px;
}

.movie-card__button {
  padding: 10px 16px;
  border-radius: 100px;

  font-size: 10px;
  line-height: 1.16;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  .movie-card__button {
    padding: 12px 22px;
  }
}

@media (min-width: 1280px) {
  .movie-card__button {
    padding: 14px 32px;
    font-size: 12px;
  }
}

.movie-card__button-watched {
  background: #fff;
    color: #b92f2c;
    border: 1px solid #000000;

  transition: background 250ms var(--cubic), color 250ms var(--cubic),
    border 250ms var(--cubic);
}

.movie-card__button-queue {
  background: #fff;
  color: #b92f2c;
  border: 1px solid #000000;

  transition: background 250ms var(--cubic), color 250ms var(--cubic),
    border 250ms var(--cubic);
}

.movie-card__buttons:hover .movie-card__button,
.movie-card__buttons:focus .movie-card__button {
  background: #fff;
  color: #b92f2c;
  border: 1px solid #000000;
}

.movie-card__buttons .movie-card__button-queue:hover,
.movie-card__buttons .movie-card__button-queue:focus {
  background: #b92f2c;
  color: #fff;
  border: 1px solid transparent;
}

.movie-card__buttons .movie-card__button-watched:hover,
.movie-card__buttons .movie-card__button-watched:focus {
  background: #b92f2c;
  color: #fff;
  border: 1px solid transparent;
}

.movie-card__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 8px 8px 0 0;

  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie-card__close-svg {
  position: absolute;
  top: -1.5px;
  right: 0%;

  transition: fill 250ms var(--cubic);
}

.movie-card__close-btn:hover .movie-card__close-svg,
.movie-card__close-btn:focus .movie-card__close-svg {
  fill: #b92f2c;
}


.blue{
  width: 50px;
  height: 50px;
  background-color: blue;
  
}
