.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-pagination {
  @media screen and (max-width: 480px) {
    //margin: 40px auto;
    padding-top: 60px;
  }
  display: flex;
  gap: 3px;
  justify-content: center;
  height: 40px;
  // margin: 60px auto;
  padding-top: 40px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .is-hidden {
  display: none;
}

.tui-pagination .tui-page-btn {
  // cursor: pointer;
  display: flex;
  position: relative;
  padding: 16px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  height: 40px;
  width: 40px;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  transition: all 250ms;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  @media screen and (max-width: 480px) {
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 16px;
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  background-color: #b92f2c;
  color: #fff;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  height: 40px;
  width: 40px;
  color: #fff;
  background: #b92f2c;
  border-color: #b92f2c;
  cursor: default;
}

.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  transition: all 250ms;
  height: 40px;
  width: 40px;
  background-color: #f7f7f7;
}

// .tui-pagination .tui-prev:hover .tui-ico-prev::before,
// .tui-pagination .tui-next:hover .tui-ico-next::before {
//   fill: #fff;
// }

.tui-pagination .tui-ico-ellip::before {
  content: '';
  visibility: visible;
}
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next {
  font-size: 0;
}
.tui-pagination .tui-first,
.tui-pagination .tui-last,
.tui-pagination .tui-is-disabled {
  display: none;
}

.tui-pagination .tui-ico-prev::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/arrow-back-page.svg');
  fill: #000;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  background-size: contain;
  visibility: visible;
}

.tui-page-btn.tui-prev:hover > .tui-ico-prev::before {
  background-image: url('../images/arrow-back-page-hov.svg');
}

.tui-pagination .tui-ico-next::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-image: url('../images/arrow-next-page.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  background-size: contain;
  visibility: visible;
}

.tui-page-btn.tui-next:hover > .tui-ico-next::before {
  background-image: url('../images/arrow-next-page-hov.svg');
}

.tui-pagination .tui-ico-next::before:hover,
.tui-pagination .tui-ico-prev::before:hover {
  fill: #fff;
}
// .tui-pagination .tui-page-btn .tui-prev {
//   visibility: hidden;
// }
